@charset "UTF-8";
body {
  height: 100vh;
  overflow: hidden;
  color: #505055;
  font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, ol {
  list-style-type: none;
}

input::placeholder, textarea::placeholder {
  font-size: 14px;
}

header {
  height: 40px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(34, 0, 102, 0.2);
  z-index: 3;
}

header img {
  margin-bottom: 3px;
  height: 30px;
}

/* wrapper
----------------------------- */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: calc(100vh - 40px);
}

.NavTools {
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  height: calc(100vh - 40px);
  position: fixed;
  top: 40px;
  right: 0px;
}

/*dropzone
----------------------------*/
#outer-dropzone {
  width: calc(100vw - 60px);
  position: absolute;
  z-index: -1000;
}

.space1 {
  box-shadow: inset 2px 2px 6px rgba(34, 0, 102, 0.2);
  position: relative;
}

.space1:after {
  position: absolute;
  content: attr(data-textvalue);
  font-size: 18px;
  top: 4px;
  left: 20px;
  color: #505055;
}

.space2 {
  box-shadow: inset 2px 2px 6px rgba(34, 0, 102, 0.2);
  position: relative;
}

.space2:after {
  position: absolute;
  content: attr(data-textvalue);
  font-size: 18px;
  top: 4px;
  left: 20px;
  color: #505055;
}

.space3 {
  box-shadow: inset 2px 2px 6px rgba(34, 0, 102, 0.2);
  position: relative;
}

.space3:after {
  position: absolute;
  content: attr(data-textvalue);
  font-size: 18px;
  top: 4px;
  left: 20px;
  color: #505055;
}

.drop-target {
  filter: grayscale(60%);
  box-shadow: inset 4px 4px 6px rgba(34, 0, 102, 0.2);
}

#inner-dropzone {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(34, 0, 102, 0.2);
}

/* contents
------------------------------- */
.contents {
  width: calc(100% - 60px);
  height: calc(100vh - 40px);
}

div.preview, #first-term, .second-term {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(34, 0, 102, 0.2);
  font-weight: bold;
  border-radius: 15px;
  min-width: 120px;
  min-height: 30px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#first-term {
  position: absolute;
  top: calc((100vh - 40px)/2);
  left: calc((100vw - 40px)/2);
  font-weight: bold;
  text-align: center;
}

.second-term {
  width: 202px;
  touch-action: none;
  font-weight: bold;
  position: absolute;
}

div.preview {
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
}

/* nav
---------------------------- */
.navigation nav {
  width: 60px;
  background-color: #7188aa;
  height: 100%;
}

.navigation nav li {
  padding: 14px;
  position: relative;
}

.navigation nav li:hover {
  top: -4px;
}

.navigation nav li:hover p {
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.navigation nav li img {
  top: 0;
  width: 30px;
}

.navigation nav li p {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #fff;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(34, 0, 102, 0.2);
  border-radius: 4px;
  top: 10px;
  right: 56px;
  z-index: 100;
}

.navigation nav li p:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 14px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  z-index: 100;
}

/* tools
------------------------------ */
.tools {
  background-color: #ffffff;
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
  height: calc(100vh - 40px);
  width: 280px;
  padding: 20px;
  z-index: 3;
  position: fixed;
  top: 40px;
  right: 60px;
}

.tools .list, .tools .help, .tools .edit {
  height: calc(100vh - 80px);
  overflow-y: scroll;
}

.shape {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
}

.shape p {
  margin-right: 10px;
}

.shape select {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 10px;
  border: 1px solid #b6c3c6;
}

.HowToUse {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
}

.HowToUse p {
  background-color: #7188aa;
  color: #fff;
  width: 120px;
  margin: -30px auto 10px;
  padding: 4px 0;
  border-radius: 12px;
}

.HowToUse ul {
  display: flex;
  flex-direction: column;
}

.HowToUse dl {
  margin: 10px 0;
}

.HowToUse dt {
  background-color: #7188aa;
  color: #fff;
  border-radius: 12px;
  padding: 4px;
}

.HowToUse dd {
  padding: 8px 0;
}

.Term-List, .first-term, .ListName {
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
  font-weight: bold;
  margin-top: 20px;
  border-radius: 30px;
  min-width: 120px;
  min-height: 30px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ListName {
  border-radius: 6px;
  text-align-last: left;
  min-height: 10px;
}

details[open] summary.ListName {
  box-shadow: none;
}

.Term-List {
  min-height: 10px;
}

.save h2 {
  text-align: center;
  margin-bottom: 20px;
}

.help {
  scrollbar-width: none;
  /* Firefox 対応 */
}

.help h2 {
  text-align: center;
  margin-bottom: 20px;
}

.help::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.edit {
  scrollbar-width: none;
  /* Firefox 対応 */
}

.edit::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.Method .link {
  width: 230px;
  margin: 0 auto;
  transition: .3s;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(34, 0, 102, 0.2);
  border-radius: 6px;
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  background-image: url("../images/help.svg");
}

.Method details {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.Method details p {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid lightgray;
  margin-bottom: 4px;
}

.Method details .margin {
  margin-top: 30px;
}

.Method details[open] summary {
  background-color: #ffce31;
}

.Method summary {
  text-align: left;
  transition: .3s;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(34, 0, 102, 0.2);
  border-radius: 6px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: 200px center;
  background-size: 20px;
  background-image: url("../images/edit.svg");
}

.Method summary:hover {
  background-color: #ffce31;
  box-shadow: none;
}

.Method summary:focus {
  outline-offset: -1px;
}

.Method li:nth-child(3) summary {
  background-image: url("../images/List1.svg");
}

.Method li:nth-child(4) summary {
  background-image: url("../images/save.svg");
}

.Method img {
  width: 220px;
  border: 4px solid #505055;
  border-radius: 16px;
  margin: 20px 0;
}

/* flexta
------------------------ */
.FlexTextarea {
  position: relative;
  font-size: 1rem;
  line-height: 1.2;
  background-color: #fff;
  margin: 20px auto;
}

.FlexTextarea__dummy {
  overflow: hidden;
  visibility: hidden;
  box-sizing: border-box;
  padding: 5px 15px;
  min-height: 60px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid;
}

.FlexTextarea__textarea {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2px 6px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #b6c3c6;
  border-radius: 4px;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  resize: none;
}

.FlexTextarea__textarea:focus {
  box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
  outline: 0;
}

.save-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.save-text {
  margin: 20px 0;
}

.save-text .download {
  margin-top: 30px;
}

.save-text .small {
  font-size: 14px;
  color: red;
  text-align: right;
  margin-top: -10px;
}

.save-text .edit-text {
  text-decoration: none;
  display: inline-block;
  width: 240px;
  text-align: center;
  margin: 10px auto;
  padding: 4px;
  border-radius: 50px;
  background-color: #ffce31;
  color: #505055;
  box-shadow: none;
}

.save-text .edit-text:hover {
  background-color: #ff9b30;
}

.save-text .edit-text:active {
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
  background-color: #ffce31;
}

.Button {
  text-align: center;
  margin: 20px auto;
  padding: 4px;
  background-color: #7188aa;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(34, 0, 102, 0.2);
  transition: all .3s;
}

.Button:hover {
  background-color: #607494;
}

.Button:active {
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
  background-color: #7188aa;
}

#loading {
  width: 60px;
  margin: 0;
  padding: 2px;
  background-color: #ffce31;
  color: #505055;
  box-shadow: none;
  transition: .0s;
}

#loading:hover {
  background-color: #ff9b30;
}

#loading:active {
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
  background-color: #ffce31;
}

.download {
  text-decoration: none;
  display: inline-block;
  width: 240px;
  text-align: center;
  margin: 20px auto;
  padding: 4px;
  background-color: #7188aa;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(34, 0, 102, 0.2);
  transition: all .3s;
}

.download:hover {
  background-color: #607494;
}

.download:active {
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
  background-color: #7188aa;
}

/* dlclick
-------------------------------- */
#conmenu {
  display: none;
  position: fixed;
  left: 0px;
  top: 40px;
  widows: 150px;
  border-radius: 2px;
  z-index: 100;
  background-color: #d5d5d5;
}

#conmenu.show {
  display: block;
}

#conmenu li {
  list-style: none;
  border-top: 1px dotted #eee;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
}

#conmenu li:first-child {
  border: none;
}

.delete, .delete-list {
  background: #aaffff;
}

#firstTermWindow {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  z-index: 3;
  box-shadow: 2px 2px 6px rgba(34, 0, 102, 0.2);
  top: calc(((100vh - 40px)/2) - 100px);
  left: calc(((100vw - 40px)/2) - 200px);
  transition: all .3s ease-out;
}

#firstTermWindow.show {
  display: block;
}

#op-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#op-form:after {
  content: '※空白可';
  position: absolute;
  font-size: 12px;
  color: red;
  bottom: 30px;
  right: 0px;
}

#op-form label {
  margin-top: 4px;
}

#op-form > div {
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
}

#op-form :first-child label {
  margin-right: 15px;
}

#op-form label {
  margin-right: 10px;
}

#op-form input[type="text"] {
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: inset 2px 2px 6px rgba(34, 0, 102, 0.2);
}

#op-form input[type="text"]:focus {
  box-shadow: none;
}

#op-form input[type="color"] {
  width: 48px;
  height: 24px;
}

#op-form #batu {
  background: #f0f0f0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  bottom: -16px;
  left: calc(50% - 15px);
  box-shadow: 1px 1px 3px rgba(34, 0, 102, 0.2);
}

#text-body {
  overflow-y: scroll;
  height: calc(100vh - 40px);
  padding: 0 0 80px 0;
}

#text-body .explain {
  margin-top: 20px;
}

#text-body .inner {
  width: 90%;
  max-width: 800px;
  min-width: 440px;
  margin: 0 auto;
}

#text-body .FlexTextarea {
  border-radius: 24px;
  min-height: 200px;
}

#text-body .FlexTextarea__dummy {
  padding: 20px;
}

#text-body .FlexTextarea__textarea {
  border-radius: 24px;
  min-height: 200px;
  padding: 20px;
  box-shadow: inset 3px 3px 6px rgba(34, 0, 102, 0.4), inset -3px -3px 12px rgba(34, 0, 102, 0.2);
  border: none;
  filter: opacity(80%);
}

#text-body .add-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
}

#text-body .download {
  margin: 0;
}

.title-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto 0;
  width: 96%;
}

.title-top input[type="text"] {
  width: 80%;
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
  border-radius: 8px;
  padding: 6px 10px;
  color: #505055;
}

.title-top input[type="text"]::placeholder {
  font-size: 20px;
  color: lightgray;
}

.inline-radio {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
}

.inline-radio div {
  width: 60px;
  position: relative;
  flex: 1;
}

.inline-radio input {
  width: 100%;
  height: 40px;
  opacity: 0;
}

.inline-radio label {
  position: absolute;
  top: 0;
  left: 0;
  color: #505055;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  box-shadow: inset 0 2px 6px rgba(34, 0, 102, 0.2);
}

.inline-radio div:last-child label {
  border-right: 0;
}

.inline-radio input:checked + label {
  background: #ffce31;
  font-weight: bold;
  color: #000;
  box-shadow: none;
}
/*# sourceMappingURL=style.css.map */