$shadow: 0 2px 6px rgba(34,0,102,0.2);
$shadowIn: inset 0 2px 6px rgba(34,0,102,0.2);
$L-text-color: #505055;
$D-text-color: #fff;
$Second-color: #206;

@mixin ShadowIn {
    box-shadow: $shadowIn;
    background-color: #fff;
    color: $text-color;
}

@mixin ShadowOut {
    box-shadow: $shadow;
    background-color: #fff;
    color: $text-color;
}

@mixin Button {
    background-color: $Second-color;
    color: $D-text-color;
}

@mixin dropzone {
    box-shadow: inset 2px 2px 6px rgba(34,0,102,0.2);
    position: relative;
    &:after {
        position: absolute;
        content: attr(data-textvalue);
        font-size: 18px;
        top: 4px;
        left: 20px;
        color: $L-text-color;
    }
}

@mixin h2 {
    text-align: center;
    margin-bottom: 20px;
}

//

body {
    height: 100vh;
    overflow: hidden;
    color: #505055;
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul,ol {
    list-style-type: none;
}

input::placeholder,textarea::placeholder {
    font-size: 14px;
}

//header---------------------------

header {
    height: 40px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(34,0,102,0.2);
    z-index: 3;
    & img {
        margin-bottom: 3px;
        height: 30px;
    }
}

/* wrapper
----------------------------- */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 40px);
}

.NavTools {
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    height: calc(100vh - 40px);
    position: fixed;
    top: 40px;
    right: 0px;
}

/*dropzone
----------------------------*/
#outer-dropzone {
    width: calc(100vw - 60px);
    position: absolute;
    z-index: -1000;
}

.space1 {
    @include dropzone();
}

.space2 {
    @include dropzone();
}

.space3 {
    @include dropzone();
}

.drop-target {
    filter: grayscale(60%);
    box-shadow: inset 4px 4px 6px rgba(34,0,102,0.2);
}

#inner-dropzone {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(34,0,102,0.2);
}

/* contents
------------------------------- */
.contents {
    // width: calc(100% - 340px);
    width: calc(100% - 60px);
    height: calc(100vh - 40px);
}

div.output_div,#first-term,.second-term {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(34,0,102,0.2);
    font-weight: bold;
    border-radius: 15px;
    min-width: 120px;
    min-height: 30px;
    padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#first-term {
    position: absolute;
    top: calc((100vh - 40px)/2);
    left: calc((100vw - 40px)/2);
    font-weight: bold;
    text-align: center;
}

.second-term {
    width: 202px;
    touch-action: none;
    font-weight: bold;
    position: absolute;
}

div.preview {
    box-shadow: $shadowIn;
}

/* nav
---------------------------- */
.navigation {
    & nav {
    width: 60px;
    background-color: #7188aa;
    height: 100%;
        & li {
            padding: 14px;
            position: relative;
            &:hover {
                    top: -4px;
                }
            &:hover p {
                visibility: visible;
                opacity: 1;
                transition: .3s;
            }
            & img {
                top: 0;
                width: 30px;
            }
            & p {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                background-color: #fff;
                padding: 6px;
                box-shadow: $shadow;
                border-radius: 4px;
                top: 10px;
                right: 56px;
                z-index: 100;
                &:after {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0;
                    top: 14px;
                    right: -10px;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-left: 10px solid #fff;
                    z-index: 100;
                }
            }
        }
    }
}

/* tools
------------------------------ */
.tools {
    background-color: #ffffff;
    box-shadow: $shadowIn;
    height: calc(100vh - 40px);
    width: 280px;
    padding: 20px;
    z-index: 3;
    position: fixed;
    top: 40px;
    right: 60px;
    & .list, .help {
        height: calc(100vh - 80px);
        overflow-y: scroll;
    }
}

.shape {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    & p {
        margin-right: 10px;
    }
    & select {
        background-color: #fff;
        border-radius: 4px;
        padding: 2px 10px;
        border: 1px solid #b6c3c6;
    }
}

.HowToUse {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: inset $shadow;
    & p {
        background-color: #7188aa;
        color: #fff;
        width: 120px;
        margin: -30px auto 10px;
        padding: 4px 0;
        border-radius: 12px;
    }
    & ul {
        display: flex;
        flex-direction: column;
    }
    & dl {
        margin: 10px 0;
    }
    & dt {
        background-color: #7188aa;
        color: #fff;
        border-radius: 12px;
        padding: 4px;
    }
    & dd {
        padding: 8px 0;
    }
}

.Term-List,.first-term,.ListName{
    box-shadow: $shadowIn;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 30px;
    min-width: 120px;
    min-height: 30px;
    padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ListName {
    border-radius: 6px;
    text-align-last: left;
    min-height: 10px;
}

details[open] summary.ListName{
    box-shadow: none;
}

.Term-List {
    min-height: 10px;
}
//保存
.save h2 {
    @include h2();
}
// 使い方
.help {
    scrollbar-width: none;/* Firefox 対応 */
    & h2 {
     @include h2();
    }
    &::-webkit-scrollbar {  /* Chrome, Safari 対応 */
        display:none;
    }
}
.Method {
    & .link {
        width: 230px;
        margin: 0 auto;
        transition: .3s;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: $shadow;
        border-radius: 6px;
        padding: 10px 10px 10px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 20px;
        background-image: url('../images/help.svg');
    }
    & details {
        width: 230px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        & p {
            position: relative;
            display: inline-block;
            border-bottom: 1px solid lightgray;
            margin-bottom: 4px;
        }
        & .margin {
            margin-top: 30px;
        }
    }
    & details[open] summary {
        background-color: #ffce31;
    }
    & summary {
        text-align: left;
        transition: .3s;
        margin-bottom: 20px;
        background: #fff;
        box-shadow: $shadow;
        border-radius: 6px;
        padding: 10px;
        background-repeat: no-repeat;
        background-position: 200px center;
        background-size: 20px;
        background-image: url('../images/edit.svg');
        &:hover {
            background-color: #ffce31;
            box-shadow: none;
        }
    }
    & li {
        &:nth-child(3) summary {
            background-image: url('../images/List1.svg');
        }
        &:nth-child(4) summary {
            background-image: url('../images/save.svg');
        }
    }
    & img {
        width: 220px;
        border: 4px solid #505055;
        border-radius: 16px;
        margin: 20px 0;
    }
}

/* flexta
------------------------ */
.FlexTextarea {
    position: relative;
    font-size: 1rem;
    line-height: 1.2;
    background-color: #fff;
    margin: 20px auto;
}

.FlexTextarea__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    min-height: 60px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
}

.FlexTextarea__textarea {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px 6px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #b6c3c6;
    border-radius: 4px;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
}

.FlexTextarea__textarea:focus {
    box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
    outline: 0;
}

.save-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.Button {
    text-align: center;
    margin: 20px auto;
    padding: 4px;
    background-color: #7188aa;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: $shadow;
    transition: all .3s;
    &:hover {
        background-color: #607494;
    }
    &:active {
        box-shadow: inset $shadow;
        background-color: #7188aa;
    }
}

#loading {
    width: 60px;
    margin: 0;
    padding: 2px;
    background-color: #ffce31;
    color: #505055;
    box-shadow: none;
    &:hover {
        background-color: #ff9b30;
    }
    &:active {
        box-shadow: inset $shadow;
        background-color: #ffce31;
    }
    transition: .0s;
}

.download {
    text-decoration: none;
    display: inline-block;
    width: 240px;
    text-align: center;
    margin: 20px auto;
    padding: 4px;
    background-color: #7188aa;
    color: #fff;
    border-radius: 50px;
    box-shadow: $shadow;
    transition: all .3s;
    &:hover {
        background-color: #607494;
    }
    &:active {
        box-shadow: inset $shadow;
        background-color: #7188aa;
    }
}

/* dlclick
-------------------------------- */

    #conmenu {
        display:none;
        position:fixed;
        left:0px;
        top:40px;
        widows: 150px;
        border-radius: 2px;
        z-index: 100;
        background-color: #d5d5d5;
        &.show {
            display: block;
        }
        & li {
        list-style: none;
        border-top: 1px dotted #eee;
        margin: 0px;
        padding: 5px;
        cursor:pointer;
            &:first-child {
                border: none;
            }
        }
    }

    .delete, .delete-list {
        background: #aaffff;
    }

    #firstTermWindow {
        display: none;
        position: absolute;
        background-color: #fff;
        border-radius: 30px;
        padding: 20px;
        z-index: 3;
        box-shadow: 2px 2px 6px rgba(34,0,102,0.2);
        top: calc(((100vh - 40px)/2) - 100px);
        left: calc(((100vw - 40px)/2) - 200px);
        transition: all .3s ease-out;
        &.show {
            display: block;
        }
    }

// モーダル1
    #op-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        &:after {
            content: '※空白可';
            position: absolute;
            font-size: 12px;
            color: red;
            bottom: 30px;
            right: 0px;
        }
        & label {
            margin-top: 4px;
        }
        & > div {
            margin: 6px 0;
            display: flex;
            justify-content: space-between;
        }
        :first-child label {
            margin-right: 15px;
        }
        label {
            margin-right: 10px;
        }
        input[type="text"] {
            background-color: #f0f0f0;
            border-radius: 4px;
            box-shadow: inset 2px 2px 6px rgba(34,0,102,0.2);
            &:focus {
                box-shadow: none;
            }
        }
        input[type="color"] {
            width: 48px;
            height: 24px;
        }
        #batu {
            background: #f0f0f0;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            bottom: -16px;
            left: calc(50% - 15px);
            box-shadow: 1px 1px 3px rgba(34,0,102,0.2);
        }
    }

//モーダル2
// #form-input-recover-confirm-modal {
//     display: none;
//     background-color: #fff;
//     box-shadow: $shadow;
//     position: absolute;
//     top: 0px;
//     left: calc(50vw - 200px);
//     padding: 20px;
//     font-size: 14px;
//     & ul {
//         text-align: center;
//         & li:first-child {
//             background-color: #99ccff;
//             border-radius: 4px;
//             margin-top: 10px;
//         }
//         & li {
//             background-color: #ff9999;
//             border-radius: 4px;
//             margin-top: 10px;
//         }
//         & li:last-child {
//             background-color: lightgray;
//             border-radius: 4px;
//             margin-top: 10px;
//         }
//         & button {
//             width: 100%;
//         }
//     }
// }