@charset "UTF-8";

body {
    height: 100vh;
    overflow: hidden;
    color: #505055;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style-type: none;
}

/* header
--------------------- */

header {
    height: 40px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(34,0,102,0.2);
    z-index: 3;
}

/* wrapper
----------------------------- */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 40px);
}

.NavTools {
    display: flex;
    flex-wrap: wrap;
    z-index: 3;

}

/*dropzone
----------------------------*/
#outer-dropzone {
    height: calc((100vh - 40px)/3);
    width: calc(100vw - 60px);
    position: absolute;
    z-index: -1000;
}

.space1 {
    background-color: #ffffa0;
    box-shadow: inset 2px 2px 6px rgba(34,0,102,0.2);
    top: 40px;
}

.space2 {
    background-color: #a0ffff;
    box-shadow: inset 2px 2px 6px rgba(34,0,102,0.2);
    top: calc(((100vh - 40px)/3) + 40px);
}

.space3 {
    background-color: #ffa0ff;
    box-shadow: inset 2px 2px 6px rgba(34,0,102,0.2);
    bottom: 0;
}

/* contents
------------------------------- */
.contents {
    width: calc(100% - 340px);
}

div.output_div,#first-term,.second-term {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(34,0,102,0.2);
    font-weight: bold;
    text-align: center;
    border-radius: 30px;
    min-width: 120px;
    min-height: 30px;
    padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#first-term {
    position: absolute;
    top: calc((100vh - 40px)/2);
    left: calc((100vw - 40px)/2);
    font-weight: bold;
    text-align: center;
}

.second-term {
    max-width: 200px;
    touch-action: none;
    font-weight: bold;
    text-align: center;
}

div.preview {
    box-shadow: inset 0 2px 6px rgba(34,0,102,0.2);
}

/* nav
---------------------------- */

nav {
    width: 60px;
    background-color: #7188aa;
    height: 100%;
}

nav li {
    padding: 14px;
}

nav li img {
    width: 30px;
}


/* tools
------------------------------ */
.tools {
    background-color: #ffffff;
    box-shadow: inset 0 2px 6px rgba(34,0,102,0.2);
    height: 100%;
    width: 280px;
    padding: 20px;
}

.shape {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.shape p {
    margin-right: 10px;
}

.shape select {
    background-color: #fff;
    border-radius: 4px;
    padding: 2px 10px;
    border: 1px solid #b6c3c6;
}

.shortcut {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 14px;
}

.shortcut p {
    background-color: #7188aa;
    color: #fff;
    width: 100px;
    margin: -20px auto 10px;
}

.shortcut ul {
    display: flex;
    flex-direction: column;
}

.shortcut li {
    margin: 4px 0;
}

.shortcut li:nth-child(odd) span{
    background-color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
}

#TermList {
    height: 100vh;
    overflow-y: scroll;
}

.Term-List,.first-term {
    box-shadow: inset 0 2px 6px rgba(34,0,102,0.2);
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 30px;
    min-width: 120px;
    min-height: 30px;
    padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* flexta
------------------------ */
.FlexTextarea {
    position: relative;
    font-size: 1rem;
    line-height: 1.2;
    background-color: #fff;
    margin: 20px auto;
}

.FlexTextarea__dummy {
    overflow: hidden;
    visibility: hidden;
    box-sizing: border-box;
    padding: 5px 15px;
    min-height: 60px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid;
}

.FlexTextarea__textarea {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2px 6px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #b6c3c6;
    border-radius: 4px;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
    resize: none;
}

.FlexTextarea__textarea:focus {
    box-shadow: 0 0 0 4px rgba(35, 167, 195, 0.3);
    outline: 0;
}

.enter img {
    height: 14px;
}

.Button,.download {
    text-align: center;
    margin: 20px auto;
    padding: 4px;
    background-color: #7188aa;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}
